.button-components {
  width: 494px;
  height: 60px;
  border-radius: 20px;
  background: $primary-color;
  font-size: 20px;
  font-weight: bold;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $margin-xs;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed !important;
    color: $legend-color !important;
    background: #eaecf2 !important;
  }

  &.loading {
    background: #cdd0d9;
    > img {
      margin-left: 8px;
      width: 24px;
      height: 24px;
    }
  }

  &.button-components-primary {
    background: $primary-color;
    color: $white;
  }

  &.button-components-primary:hover {
    background: $primary-8;
  }
}
