.dashboard-poap {
    .title {
        display: inline-block;
        font-size: 24px;
        font-family: Kanit;
        font-weight: 500;
        color: #000000;
        margin-top: 52px;
        margin-bottom: 28px;
    }

    .content {
        height: 300px;
        .content-item {
            width: 260px;
            height: 300px;
            background: #EDE9F7;
            opacity: 1;
            border-radius: 20px;
        }
    }
}