.dashboard-poap {
    .title {
        display: inline-block;
        font-size: 24px;
        font-family: Kanit;
        font-weight: 500;
        color: #000000;
        margin-top: 52px;
        margin-bottom: 8px;
    }

    .content {
        height: 300px;
        .content-item {
            position: relative;

            .poap-img {
                width: 248px;
                height: 336px;
            }

            .poap-num {
                font-size: 12px;
                font-family: Kanit;
                font-weight: 600;
                line-height: 0px;
                color: #000000;
            
                position: absolute;
                bottom: 117px;
                left: 70px;
              }
        }
    }
}