.error-modal {
  .switch-btn {
    width: 376px;
    height: 48px;
    background: #3f8cff;
    box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.26);
    opacity: 1;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: $white;
  }
}
