.activities {
  > li {
    display: flex;
    align-items: center;
    width: 640px;
    height: 60px;
    background: $white;
    border-radius: 10px;
    margin-top: $margin-lg;
    font-size: 16px;
    padding-left: 46px;
    padding-right: 44px;
    line-height: 1.5;
    cursor: pointer;

    .from {
      color: $subsidiary-color;
    }

    .arrow-icon {
      transform: rotate(-90deg);
      width: 20px;
      height: 20px;
      background: #f7f8fa;
      opacity: 1;
      border-radius: 5px;
      margin-left: 24px;
      margin-right: 24px;
    }

    .to {
      color: $text-color;
      margin-right: 12px;
    }

    .program {
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $text-color;
      margin-left: auto;
      margin-right: 24px;
    }

    .amount {
      font-size: 16px;
      line-height: 24px;
      color: $status-success-color;
      float: right;
    }

    .time {
      font-size: 12px;
      font-family: Kanit;
      font-weight: 300;
      line-height: 24px;
      color: $subsidiary-color;
    }
  }

  > li:hover {
    background: #eaecf2;
  }
}

@media (max-width: $screen-md) {
  .activities {
    > li {
      width: 100%;
      padding: 0 18px;
    }
  }
}

@media (max-width: $screen-sm) {
  .activities {
    > li {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      width: 310px;
      height: 210px;
      padding: 0 16px;
      justify-content: center;
      align-self: center;
      text-align: center;
      .arrow-icon {
        transform: rotate(360deg);
        margin: 4px 0;
        display: inline-block;
      }

      .to {
        margin-right: 0;
        color: $sub-title-color;
      }

      .program {
        display: inline-block;
        margin-top: 16px;
        font-weight: 500;
      }

      .amount {
        display: inline-block;
        margin-top: 16px;
        margin-bottom: 4px;
      }

      .program,
      .amount {
        margin-left: 0;
        margin-right: 0;
        float: none;
      }
    }

    li + li {
      margin-top: 16px;
    }
  }
}
