.proof-cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cards-main {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;

    .card-item {
      position: relative;
      width: 312px;
      height: 208px;
      box-shadow: 0px 6px 6px rgba(121, 145, 173, 0.2);
      border-radius: 10px;
      padding: 20px;
      color: $white;
      background-size: cover;
      margin-bottom: 4px;

      &.show {
        .main-item {
          display: none;
        }

        .content-item {
          display: flex;
        }
      }

      .main-item {
        display: flex;
        flex-direction: column;

        .main-item-header {
          display: flex;
          justify-content: space-between;

          .main-item-header-left {
            font-size: 12px;
            font-family: Kanit;
            font-weight: 400;
            color: $white;
            .stamp-img {
              position: absolute;
              top: 0;
              left: 8px;
            }
          }
        }

        .main-item-alias {
          font-size: 12px;
        }

        .main-item-program-name {
          font-size: 20px;
          font-weight: 500;
          margin-top: 56px;
          margin-bottom: 46px;
          line-height: 1.8;
        }

        .main-item-proofCid {
          font-size: 12px;
          font-weight: 300;
          cursor: pointer;
        }

        .main-item-proofCid:hover {
          border-bottom: 1px solid $white;
        }

        .main-item-footer {
          display: flex;
          justify-content: space-between;
          align-items: baseline;

          .main-item-footer-right {
            cursor: pointer;
          }
        }

        .main-item-program-field-name {
          font-size: 12px;
          margin-right: 10px;
        }

        .main-item-op-img {
          width: 4px;
        }
      }

      .content-item {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .content-item-img-label {
          cursor: pointer;
          width: 20px;
          .content-item-op-img {
            transform: rotate(180deg);
            width: 4px;
            margin-bottom: 8px;
          }
        }

        > div {
          display: flex;
          justify-content: space-between;
          margin-top: 7px;

          .label {
            font-size: 12px;
            font-weight: 300;
            opacity: 0.85;
          }

          .value {
            font-size: 12px;
            font-weight: 300;
            opacity: 1;
          }
        }
      }
    }
  }
}
