.proof-lists {
  width: 100%;
  .proof-lists-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .proof-lists-header {
    display: grid;
    gap: 10px;
    padding: 0 20px 12px;
    grid-template-columns: 20px 1.5fr 2fr 1fr 2fr 1fr 2fr 20px;

    .proof-lists-header-item {
      display: block;
    }
  }
  .proof-list {
    width: 100%;
  }
  .proof-list + .proof-list {
    margin-top: 6px;
  }

  .ant-pagination {
    text-align: center;
    background: transparent;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .ant-pagination-item {
      width: 32px;
      height: 32px;
      background: $white;
      box-shadow: 0px 8px 20px rgba(91, 91, 91, 0.06);
      opacity: 1;
      border-radius: 4px;
    }

    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      width: 32px;
      height: 32px;
      background: $white;
      box-shadow: 0px 8px 20px rgba(91, 91, 91, 0.06);
      opacity: 1;
      border-radius: 4px;
    }

    .ant-pagination-item-active a {
      color: #000000;
    }

    .ant-pagination-item-active {
      background: #e9ecef;
      border: 1px solid #b9b9b9;
    }

    .ant-pagination-prev:hover button,
    .ant-pagination-next:hover button {
      color: #000000;
      background: #e9ecef;
      border: 1px solid #b9b9b9;
    }
  }
}

@media (max-width: $screen-lg) {
  .proof-lists {
    .proof-lists-header {
      grid-template-columns: 20px repeat(3, 1fr) 20px;
      width: 100%;
      .proof-lists-header-item {
        display: none;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .proof-lists {
    .proof-lists-header {
      grid-template-columns: 20px repeat(3, 1fr) 20px;
      width: 480px;
      .proof-lists-header-item {
        display: none;
      }
    }
  }
}
