.regulatedTransfer {
  width: 518px;
  background: $white;
  box-shadow: 0px 6px 58px rgba(121, 145, 173, 0.2);
  border-radius: 20px;
  padding: 12px;
  position: relative;

  .exchange-icon {
    width: 30px;
    height: 30px;
    background: #f7f8fa;
    border: 3px solid #ffffff;
    border-radius: 9px;
    position: absolute;
    left: calc(50% - 28px);
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      width: 18px;
      height: 18px;
    }
  }

  .sender-input,
  .receivier-input,
  .amount-input {
    margin-top: $margin-xs;
  }

  .btn {
    width: 494px;
    height: 60px;
    border-radius: 20px;
    background: $primary-color;
    font-size: 20px;
    font-weight: bold;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $margin-xs;
    cursor: pointer;
  }
  .btn.disabled {
    cursor: not-allowed;
    color: #909090;
    background: #eaecf2;
  }

  .btn-transfer {
    background: $primary-color;
    color: $white;
  }

  .btn.no-proof-btn {
    cursor: pointer;
  }
}
