.homePage {
  display: flex;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #f4f5fc 0%, #fbfcfd 76%, #ffffff 100%);

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;

    .main-content {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 0 10px;
      display: flex;
      justify-content: center;
    }
  }
}
