.submitModal {
  .ant-modal-content {
    width: 600px;
    height: 544px;

    .label {
      font-size: $font-size-base;
      line-height: 24px;
      color: #7c7c7c;
      margin-top: $margin-md;
      margin-bottom: 3px;
    }

    .value {
      width: 552px;
      height: 48px;
      line-height: 48px;
      padding: 0 16px;
      background: #f7f8f9;
      border: 1px solid #d8e0f0;
      box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.22);
      border-radius: 14px;
      font-size: $font-size-lg;
      color: #0a1629;
      position: relative;
      > span {
        display: inline-block;
        max-width: 400px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .generate-btn {
      width: 112px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: $primary-color;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 12px;
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      color: $white;
      float: right;
      position: absolute;
      right: 2px;
      top: 3px;
      cursor: pointer;
    }

    .submit-btn {
      width: 552px;
      height: 72px;
      margin-top: $margin-lg;
      line-height: 72px;
      text-align: center;
      background: $primary-color;
      box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.26);
      border-radius: 14px;
      font-size: 20px;
      font-weight: $font-weight-bold;
      color: $white;
      cursor: pointer;
    }
  }
}
