.submitModal {
  .ant-modal-content {
    width: 600px;
    height: 489px;

    .item {
      width: 552px;
      height: 70px;
      background: #f7f8f9;
      border: 1px solid #eaecf2;
      opacity: 1;
      border-radius: 20px;
      padding: 0 16px;

      &.program {
        margin-top: 20px;
      }
    }

    .item + .item {
      margin-top: 10px;
    }

    .label {
      font-size: $font-size-sm;
      line-height: 24px;
      color: $legend-color;
      margin-top: 7px;
      margin-bottom: 3px;
    }

    .value {
      font-size: $font-size-lg;
      color: $sub-title-color;
      position: relative;
      > span {
        display: inline-block;
        max-width: 400px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .generate-btn {
      width: 112px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: $primary-color;
      border-radius: 12px;
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
      color: $white;
      float: right;
      position: absolute;
      right: 0px;
      top: -20px;
      cursor: pointer;
    }

    .submit-btn {
      width: 551px;
      height: 60px;
      border-radius: 20px;
      margin-top: 14px;
      line-height: 60px;
      text-align: center;
      background: $primary-color;
      font-size: 18px;
      font-weight: $font-weight-medium;
      color: $white;
      cursor: pointer;
    }
    .submit-btn:hover,
    .generate-btn:hover {
      background: $primary-8;
    }
  }
}
